In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
os.chdir('/home/ankushraut/Downloads/zomato/share')
import glob
pd.set_option('display.max_columns', None)

In [2]:
order_log = pd.read_csv('pre_and_post_orders_data_train.csv')

In [3]:
order_log.head()

,created_at,city,res_id,pickup_locality,pickup_latitude,pickup_longitude,drop_locality,drop_latitude,drop_longitude,total_amount,driver_id,shipment_creation_time,device_acknowledge_at,device_acknowledge_latitude,device_acknowledge_longitude,device_acknowledge_location_update_time,driver_assigned_at,driver_assigned_latitude,driver_assigned_longitude,driver_assigned_location_update_time,reached_shop_at,reached_shop_latitude,reached_shop_longitude,reached_shop_location_update_time,shipped_at,shipped_latitude,shipped_longitude,shipped_location_update_time,reached_customer_at,reached_customer_latitude,reached_customer_longitude,reached_customer_location_update_time,complete_at,complete_latitude,pickup_to_drop_location_km,pickup_to_drop_location_aerial_km,state
0,01-01-2018 03:52,Bangalore,18369812.0,HSR Layout,12.913377,77.636743,HSR Layout,12.918794,77.643636,234.0,19858.0,01-01-2018 03:57,01-01-2018 03:57,12.913377,77.636743,57:49.9,01-01-2018 03:58,12.911163,77.645047,58:01.7,01-01-2018 04:07,12.912745,77.636802,07:26.7,01-01-2018 04:20,12.915067,77.638542,20:22.9,01-01-2018 04:23,12.919423,77.642763,23:29.5,01-01-2018 04:31,12.918759,1.351,0.973827,COMPLETE
1,01-01-2018 04:17,Bangalore,18432984.0,Koramangala,12.932813,77.614281,BTM Layout,12.908013,77.612200,596.2,NaN,01-01-2018 04:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.061,2.769349,CANCELLED
2,01-01-2018 04:39,Bangalore,18527596.0,Koramangala,12.934553,77.617152,Koramangala,12.929307,77.622008,185.0,NaN,01-01-2018 04:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,CANCELLED
3,01-01-2018 05:24,Bangalore,18432984.0,Koramangala,12.932813,77.614281,Koramangala,12.947571,77.621030,842.6,9482.0,01-01-2018 05:30,01-01-2018 05:30,12.932813,77.614281,30:29.1,01-01-2018 05:30,12.930951,77.608324,30:33.7,01-01-2018 05:53,12.932843,77.614252,53:48.1,01-01-2018 06:19,12.932866,77.614245,19:03.8,01-01-2018 06:39,12.947571,77.621030,39:33.5,01-01-2018 06:39,12.947571,3.871,1.798255,COMPLETE
4,01-01-2018 05:55,Bangalore,18391321.0,Koramangala,12.917518,77.631842,HSR Layout,12.912761,77.636261,218.0,NaN,01-01-2018 06:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.614,0.714212,CANCELLED

In [4]:
order_log.created_at = pd.to_datetime(order_log.created_at)
order_log.shipment_creation_time = pd.to_datetime(order_log.shipment_creation_time)

order_log.device_knowledge_at = order_log.shipment_creation_time

In [5]:
order_log.describe()

,res_id,pickup_latitude,pickup_longitude,drop_latitude,drop_longitude,total_amount,driver_id,device_acknowledge_latitude,device_acknowledge_longitude,driver_assigned_latitude,driver_assigned_longitude,reached_shop_latitude,reached_shop_longitude,shipped_latitude,shipped_longitude,reached_customer_latitude,reached_customer_longitude,complete_latitude,pickup_to_drop_location_km,pickup_to_drop_location_aerial_km
count,3.244800e+04,32629.000000,32629.000000,32093.000000,32093.000000,32629.000000,31794.000000,31672.000000,31672.000000,31727.000000,31727.000000,31119.000000,31119.000000,30954.000000,30954.000000,30939.000000,30939.000000,31339.000000,32627.000000,31991.000000
mean,9.272337e+06,12.925194,77.630946,12.924964,77.631879,354.586617,18599.778480,12.925162,77.630960,12.923371,77.626561,12.925219,77.630953,12.926327,77.631079,12.925375,77.631980,12.925358,3.111951,1.999611
std,9.184851e+06,0.011133,0.012528,0.192668,0.046569,284.871266,6158.339464,0.011217,0.012648,0.103570,0.616512,0.021887,0.021590,0.143039,0.044663,0.211575,0.047357,0.210233,26.517323,21.872197
min,5.001300e+04,12.897420,77.611502,12.860917,73.940842,15.000000,28.000000,12.873498,77.576641,0.000000,0.000000,12.886922,74.538407,12.657868,74.028870,12.860917,73.940842,12.860917,0.000000,0.000860
25%,5.677100e+04,12.913392,77.616467,12.909493,77.618062,193.750000,16491.000000,12.913392,77.616467,12.912500,77.619663,12.913407,77.616636,12.913403,77.616677,12.909414,77.617992,12.909403,1.476000,0.917805
50%,1.800031e+07,12.929709,77.630168,12.922383,77.630982,273.000000,20115.000000,12.929654,77.630168,12.924460,77.632068,12.929397,77.630599,12.929295,77.630604,12.922320,77.631038,12.922247,2.578000,1.592675
75%,1.844769e+07,12.934491,77.644286,12.935563,77.645243,419.000000,22898.000000,12.934491,77.644440,12.935779,77.643178,12.934603,77.644299,12.934619,77.644315,12.935434,77.645415,12.935488,3.933000,2.419265
max,1.862867e+07,12.952484,77.653592,29.692945,83.863253,5823.300000,26183.000000,12.976179,77.683145,13.193750,77.703791,16.252150,77.680515,32.179522,83.911060,29.692945,83.863253,29.692945,2405.125000,1882.538369

In [6]:
order_log.describe()

,res_id,pickup_latitude,pickup_longitude,drop_latitude,drop_longitude,total_amount,driver_id,device_acknowledge_latitude,device_acknowledge_longitude,driver_assigned_latitude,driver_assigned_longitude,reached_shop_latitude,reached_shop_longitude,shipped_latitude,shipped_longitude,reached_customer_latitude,reached_customer_longitude,complete_latitude,pickup_to_drop_location_km,pickup_to_drop_location_aerial_km
count,3.244800e+04,32629.000000,32629.000000,32093.000000,32093.000000,32629.000000,31794.000000,31672.000000,31672.000000,31727.000000,31727.000000,31119.000000,31119.000000,30954.000000,30954.000000,30939.000000,30939.000000,31339.000000,32627.000000,31991.000000
mean,9.272337e+06,12.925194,77.630946,12.924964,77.631879,354.586617,18599.778480,12.925162,77.630960,12.923371,77.626561,12.925219,77.630953,12.926327,77.631079,12.925375,77.631980,12.925358,3.111951,1.999611
std,9.184851e+06,0.011133,0.012528,0.192668,0.046569,284.871266,6158.339464,0.011217,0.012648,0.103570,0.616512,0.021887,0.021590,0.143039,0.044663,0.211575,0.047357,0.210233,26.517323,21.872197
min,5.001300e+04,12.897420,77.611502,12.860917,73.940842,15.000000,28.000000,12.873498,77.576641,0.000000,0.000000,12.886922,74.538407,12.657868,74.028870,12.860917,73.940842,12.860917,0.000000,0.000860
25%,5.677100e+04,12.913392,77.616467,12.909493,77.618062,193.750000,16491.000000,12.913392,77.616467,12.912500,77.619663,12.913407,77.616636,12.913403,77.616677,12.909414,77.617992,12.909403,1.476000,0.917805
50%,1.800031e+07,12.929709,77.630168,12.922383,77.630982,273.000000,20115.000000,12.929654,77.630168,12.924460,77.632068,12.929397,77.630599,12.929295,77.630604,12.922320,77.631038,12.922247,2.578000,1.592675
75%,1.844769e+07,12.934491,77.644286,12.935563,77.645243,419.000000,22898.000000,12.934491,77.644440,12.935779,77.643178,12.934603,77.644299,12.934619,77.644315,12.935434,77.645415,12.935488,3.933000,2.419265
max,1.862867e+07,12.952484,77.653592,29.692945,83.863253,5823.300000,26183.000000,12.976179,77.683145,13.193750,77.703791,16.252150,77.680515,32.179522,83.911060,29.692945,83.863253,29.692945,2405.125000,1882.538369

In [7]:
driver_log = pd.read_csv('pre_and_post_driver_log_train_candidate.csv')

In [8]:
driver_log.head()

,delivery_driver_id,date,login_time,logout_time,locality_name,city_name,latitude,longitude
0,28,2017-12-31,2018-01-01 05:24:26,2018-01-01 05:24:31,Koramangala,Bangalore,NaN,NaN
1,28,2017-12-31,2018-01-01 05:29:24,2018-01-01 05:56:38,Koramangala,Bangalore,NaN,NaN
2,28,2018-01-01,2018-01-01 06:22:50,2018-01-01 06:27:35,Koramangala,Bangalore,NaN,NaN
3,28,2018-01-04,2018-01-04 07:39:19,2018-01-04 10:00:20,Koramangala,Bangalore,12.933645,77.614037
4,28,2018-01-04,2018-01-04 11:19:31,2018-01-04 16:36:50,Koramangala,Bangalore,12.936094,77.628754

In [9]:
stock_out = pd.read_csv('pre_stockout_train_candidate.csv')

In [10]:
stock_out.head()

,geography,time_stamp_utc,dt,Latitude,Longitude,res_id,stockout
0,koramangala,03JAN2018:15:15:12,03JAN2018,12.952484,77.6228,18460060,1
1,koramangala,03JAN2018:15:15:39,03JAN2018,12.952484,77.6228,18460060,1
2,koramangala,03JAN2018:15:18:18,03JAN2018,12.952484,77.6228,18460060,1
3,koramangala,03JAN2018:15:18:45,03JAN2018,12.952484,77.6228,18460060,1
4,koramangala,03JAN2018:15:19:15,03JAN2018,12.952484,77.6228,18460060,1

In [11]:
stock_out.stockout.value_counts()

1    42384
Name: stockout, dtype: int64

In [12]:
stockout = pd.read_csv('post_stockout_train_candidate.csv')

In [13]:
stockout.head()

,geography,time_stamp_utc,dt,Latitude,Longitude,res_id,stockout
0,koramangala,29JAN2018:13:00:24,29JAN2018,12.952484,77.6228,18460060,0
1,koramangala,29JAN2018:13:00:48,29JAN2018,12.952484,77.6228,18460060,0
2,koramangala,29JAN2018:13:02:11,29JAN2018,12.952484,77.6228,18460060,0
3,koramangala,29JAN2018:13:02:38,29JAN2018,12.952484,77.6228,18460060,0
4,koramangala,29JAN2018:13:03:10,29JAN2018,12.952484,77.6228,18460060,0

In [14]:
stockout.stockout.value_counts()

0    56447
1     5455
Name: stockout, dtype: int64

In [15]:
def timestripper(x):
    x = x[-8:]
    return x

stockout.time_stamp_utc = stockout.time_stamp_utc.map(lambda x:timestripper(x))

In [16]:
stockout.time_stamp_utc = pd.to_datetime(stockout.time_stamp_utc)

stockout['hour'] = stockout.time_stamp_utc.dt.hour

In [17]:
stockout.head()

,geography,time_stamp_utc,dt,Latitude,Longitude,res_id,stockout,hour
0,koramangala,2018-03-29 13:00:24,29JAN2018,12.952484,77.6228,18460060,0,13
1,koramangala,2018-03-29 13:00:48,29JAN2018,12.952484,77.6228,18460060,0,13
2,koramangala,2018-03-29 13:02:11,29JAN2018,12.952484,77.6228,18460060,0,13
3,koramangala,2018-03-29 13:02:38,29JAN2018,12.952484,77.6228,18460060,0,13
4,koramangala,2018-03-29 13:03:10,29JAN2018,12.952484,77.6228,18460060,0,13

In [18]:
test_orderlog = pd.read_csv('pre_orders_data_test.csv')

In [19]:
test_orderlog.head()

,created_at,city,res_id,pickup_locality,pickup_latitude,pickup_longitude,drop_locality,drop_latitude,drop_longitude,total_amount,driver_id,shipment_creation_time,device_acknowledge_at,device_acknowledge_latitude,device_acknowledge_longitude,device_acknowledge_location_update_time,driver_assigned_at,driver_assigned_latitude,driver_assigned_longitude,driver_assigned_location_update_time,reached_shop_at,reached_shop_latitude,reached_shop_longitude,reached_shop_location_update_time,shipped_at,shipped_latitude,shipped_longitude,shipped_location_update_time,reached_customer_at,reached_customer_latitude,reached_customer_longitude,reached_customer_location_update_time,complete_at,complete_latitude,pickup_to_drop_location_km,pickup_to_drop_location_aerial_km,state
0,01-01-2018 07:50,Bangalore,53831.0,BTM Layout,12.913873,77.608513,BTM Layout,12.917752,77.606864,213.60,24028.0,01-01-2018 07:50,01-01-2018 08:14,12.913873,77.608513,14:04.3,01-01-2018 08:14,12.918575,77.617060,14:13.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.384,0.467309,CANCELLED
1,01-01-2018 07:54,Bangalore,18435688.0,BTM Layout,12.935899,77.607800,BTM Layout,12.931218,77.603092,516.81,NaN,01-01-2018 07:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.582,0.729531,CANCELLED
2,01-01-2018 09:16,Bangalore,60139.0,BTM Layout,12.913670,77.609009,BTM Layout,12.909352,77.608779,195.00,17290.0,01-01-2018 09:17,01-01-2018 09:27,12.913670,77.609009,27:51.5,01-01-2018 09:28,12.922200,77.615422,27:51.5,01-01-2018 09:35,12.913789,77.608995,35:56.5,01-01-2018 09:36,12.913789,77.608995,36:13.2,01-01-2018 09:43,12.909352,77.608779,43:21.5,01-01-2018 09:43,12.909352,0.919,0.481222,COMPLETE
3,01-01-2018 06:21,Bangalore,18583462.0,BTM Layout,12.932719,77.610335,BTM Layout,12.926568,77.609749,155.75,24194.0,01-01-2018 06:22,01-01-2018 06:22,12.932719,77.610335,22:49.9,01-01-2018 06:23,12.922289,77.604385,22:49.9,01-01-2018 06:46,12.932735,77.610341,46:30.4,01-01-2018 06:46,12.932684,77.610381,46:43.3,01-01-2018 06:55,12.926568,77.609749,54:46.6,01-01-2018 06:55,12.926568,0.825,0.687525,COMPLETE
4,01-01-2018 07:09,Bangalore,18499713.0,BTM Layout,12.909061,77.606433,BTM Layout,12.916537,77.616217,163.00,3365.0,01-01-2018 07:10,01-01-2018 07:23,12.909061,77.606433,23:54.0,01-01-2018 07:24,12.906680,77.605368,24:01.3,01-01-2018 07:27,12.907706,77.606256,27:01.2,01-01-2018 07:27,12.907706,77.606256,27:32.7,01-01-2018 07:41,12.916537,77.616217,39:20.5,01-01-2018 07:41,12.916537,1.920,1.348639,COMPLETE

In [20]:
test_driverlog = pd.read_csv('pre_driver_log_test_candidate.csv')

In [21]:
test_driverlog.tail()

,delivery_driver_id,date,login_time,logout_time,locality_name,city_name,latitude,longitude
2276,25890,2018-01-27,2018-01-27 18:30:00,2018-01-27 18:44:14,BTM Layout,Bangalore,12.916470,77.615318
2277,25890,2018-01-28,2018-01-29 05:03:53,2018-01-29 15:54:01,BTM Layout,Bangalore,12.909847,77.604561
2278,25890,2018-01-28,2018-01-28 06:20:11,2018-01-28 08:27:12,BTM Layout,Bangalore,12.912001,77.602379
2279,25890,2018-01-28,2018-01-28 15:52:46,2018-01-28 18:17:56,BTM Layout,Bangalore,12.909847,77.604561
2280,25890,2018-01-28,2018-01-28 08:55:17,2018-01-28 11:16:17,BTM Layout,Bangalore,12.911010,77.603874

In [22]:
test_stockout = pd.read_csv('pre_stockout_test_candidate.csv')

In [23]:
test_stockout.head()

,geography,time_stamp_utc,dt,Latitude,Longitude,res_id,stockout
0,btm_layout,01JAN2018:13:32:20,01JAN2018,12.935899,77.6078,50372,1
1,btm_layout,01JAN2018:13:32:47,01JAN2018,12.935899,77.6078,50619,1
2,btm_layout,01JAN2018:13:33:15,01JAN2018,12.935899,77.6078,51154,1
3,btm_layout,01JAN2018:13:33:42,01JAN2018,12.935899,77.6078,52859,1
4,btm_layout,01JAN2018:13:34:16,01JAN2018,12.935899,77.6078,57362,1

In [24]:
test = pd.read_csv('post_stockout_test_candidate.csv')

In [25]:
test.head()

    geography      time_stamp_utc         dt   Latitude  Longitude  res_id
0  btm_layout  29JAN2018:13:31:23  29JAN2018  12.935899    77.6078   50372
1  btm_layout  29JAN2018:13:31:49  29JAN2018  12.935899    77.6078   50619
2  btm_layout  29JAN2018:13:32:23  29JAN2018  12.935899    77.6078   51154
3  btm_layout  29JAN2018:13:32:50  29JAN2018  12.935899    77.6078   52859
4  btm_layout  29JAN2018:13:34:21  29JAN2018  12.935899    77.6078   57362

In [26]:
test.time_stamp_utc = test.time_stamp_utc.map(lambda x:timestripper(x))

test.time_stamp_utc = pd.to_datetime(test.time_stamp_utc)
test['hour'] = test.time_stamp_utc.dt.hour

In [27]:
training = stockout.drop(labels = ['geography', 'time_stamp_utc', 'dt','res_id', 'stockout'], axis = 1)
testing = test.drop(labels = ['geography', 'time_stamp_utc', 'dt', 'res_id'], axis = 1)
target = stockout['stockout']

In [28]:
submission = pd.read_csv('submission_online_testcase.csv')

In [29]:
submission.tail()

,geography,time_stamp_utc,dt,Latitude,Longitude,res_id,stockout
11576,btm_layout,31JAN2018:16:22:21,31JAN2018,12.916166,77.615055,18391022,NaN
11577,btm_layout,31JAN2018:16:22:50,31JAN2018,12.916166,77.615055,18391022,NaN
11578,btm_layout,31JAN2018:16:23:21,31JAN2018,12.916166,77.615055,18391022,NaN
11579,btm_layout,31JAN2018:16:23:49,31JAN2018,12.916166,77.615055,18391022,NaN
11580,btm_layout,31JAN2018:16:24:21,31JAN2018,12.916166,77.615055,18391022,NaN

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_data, x_test, y_data, y_test = train_test_split(training, target, test_size = 0.1, stratify = target, random_state = 1)
x_data = x_data.reset_index(drop = True)
x_test = x_test.reset_index(drop = True)
y_data = y_data.reset_index(drop = True)
y_test = y_test.reset_index(drop = True)

In [32]:
x_train, x_val, y_train, y_val = train_test_split(x_data, y_data, test_size = 0.25, stratify = y_data, random_state = 1)
x_train = x_train.reset_index(drop = True)
x_val = x_val.reset_index(drop = True)
y_train = y_train.reset_index(drop = True)
y_val = y_val.reset_index(drop = True)

In [33]:
import xgboost as xgb
from sklearn.metrics import f1_score

/home/ankushraut/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [34]:
params = {"objective":"multi:softmax",
          "booster":"gbtree",
          "eta":0.1,
          "max_depth": 4,
         "subsample":0.95,
         "silent":0,
         "seed":1,
         "lambda":0.1,
         "alpha":0.1,
         "num_class":2,
         "eval_metric":"accuracy"}

def evalerror(preds, dtrain):
    labels = dtrain.get_label()
    return 'F1-score', f1_score(labels, preds, average = 'macro')

num_boost_round = 2500

dtrain = xgb.DMatrix(x_train, y_train)
dvalid = xgb.DMatrix(x_val, y_val)

watchlist = [(dtrain, 'train'), (dvalid, 'eval')]

booster = xgb.train(params, dtrain, num_boost_round, evals = watchlist, early_stopping_rounds = 10, verbose_eval = 10)

[0]	train-F1-score:0.476954	eval-F1-score:0.476961
Multiple eval metrics have been passed: 'eval-F1-score' will be used for early stopping.

Will train until eval-F1-score hasn't improved in 10 rounds.

/home/ankushraut/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1113: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

Stopping. Best iteration:
[0]	train-F1-score:0.476954	eval-F1-score:0.476961

In [35]:
performance = booster.predict(xgb.DMatrix(x_test))

In [36]:
for i in range(len(performance)):
    if performance[i]>= 0.5:
        performance[i] = 1
    else:
        performance[i] = 0

In [37]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [38]:
print('Accuracy = ', accuracy_score(y_test, performance))

Accuracy =  0.911807462445

In [39]:
print(confusion_matrix(y_test, performance))

[[5645    0]
 [ 546    0]]

In [40]:
print(classification_report(y_test, performance))

             precision    recall  f1-score   support

          0       0.91      1.00      0.95      5645
          1       0.00      0.00      0.00       546

avg / total       0.83      0.91      0.87      6191

/home/ankushraut/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [41]:
prediction = booster.predict(xgb.DMatrix(testing))

for i in range(len(prediction)):
    if prediction[i] >=0.3:
        prediction[i] = 1
    else:
        prediction[i] = 0

In [42]:
submission['stockout'] = pd.DataFrame({'stockout':prediction})

In [43]:
submission.to_csv('sub1.csv', index = False)

In [44]:
submission.stockout.value_counts()

0.0    11581
Name: stockout, dtype: int64